/* \$font:'IM Fell Double Pica', serif;
\$teal: #2a4f4f;
\$ltgreen: #627060;
\$green: #576755;
\$tan: #c1a590;
\$dusty: #d0ad93;
\$red: #d51222;
\$grey: #575556; */

body{
  margin: 0;
  padding: 0;
  /* background: linear-gradient( rgba(157,155,156,0.7), rgba(157,155,156,0.7)), url('assets/paws2.jpg'); */
}
/* aside{
  float: left;
  display: inline-block;
  height: 100%;
} */

h1 {
  font-family: helvetica;
  color: black;
  text-align: center;
}
h2 {
  text-align: left;
  padding: 0 20px 0 0;
}
h4 {
  color: black;
  text-align: center;
  font-family: helvetica;
}

.photoscroll {
  display: inline-block;
  height: 35em;
  margin: 2% 2% 5% 2%;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: gallery 72s 1s infinite;
 -moz-animation: gallery 72s 1s infinite;
 -o-animation: gallery 72s 1s infinite;
 animation: gallery 72s 1s infinite;
}


ul{
  list-style-type: none;

  li{
    display: inline-block;
    background: white;
    margin: 1% 0 0 12%;
  img{
    height: 160px;
    width: 100%;
    margin: 2% 0 0 0;
  }
  }
}
form {
  input {
    @extend li;
  }
}

.listingInfo {
  height: 20px;
}

@-webkit-keyframes gallery {
  0% {background-image: url('assets/happy.jpg');}
  10% {background-image: url('assets/timid.jpg');}
  20% {background-image: url('assets/saddog.jpg');}
  30% {background-image: url('assets/frenchie.jpg');}
  40% {background-image: url('assets/curious.jpg');}
  50% {background-image: url('assets/fluffy.jpeg');}
  60% {background-image: url('assets/happypittie.jpg');}
  70% {background-image: url('assets/smile.jpg');}
  80% {background-image: url('assets/kingcharles.jpg');}
  90% {background-image: url('assets/lab.jpg');}
  100% {background-image: url('assets/pug.jpg');}
}
