/* \$font:'IM Fell Double Pica', serif;
\$teal: #2a4f4f;
\$ltgreen: #627060;
\$green: #576755;
\$tan: #c1a590;
\$dusty: #d0ad93;
\$red: #d51222;
\$grey: #575556; */
$oswald: 'Oswald', sans-serif;
$arvo: 'Arvo', serif;

body{
  margin: 0;
  padding: 0;
  background: linear-gradient( rgba(255, 255, 255,0.7), rgba(255, 255, 255,0.7)), url('assets/paws2.jpg');
}
header{
  height: 125px;
  background: #d3ab0a;
  border-bottom: 5px solid grey;
}

#brand {
  text-align: center;
}
h2 {
  font-size: 60px;
  margin: 50px 0 0 0;
  padding: 20px 0 0 0;
  text-align: center;
  font-family: $oswald;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  &:hover{
    color: #d3ab0a;
    text-shadow: 1px black;
  }
}

.fa-paw{
  @extend a;
}
h3 {
  text-align: left;
  margin: 0 5% 0 0;
  padding: 0 20px 0 0;
  display: inline-block;
}
h4 {
  color: black;
  text-align: center;
  font-family: helvetica;
}

.photoscroll {
  display: block;
/*   min-height: 5em; */
  height: 35em;
  margin: 1% 25% 1% 25%;
  border: 3px solid black;
  background-size: cover;
  background-height: 100%;
  background-repeat: no-repeat;
  -webkit-animation: gallery 72s 1s infinite;
 -moz-animation: gallery 72s 1s infinite;
 -o-animation: gallery 72s 1s infinite;
 animation: gallery 72s 1s infinite;
}

.redirect {
  height: 45px;
  background: black;
  color: white;
  h3{
    margin: 0 0 0 19%;
  }
  a{
    padding: 5% 0 0 0;
    color: white;
    &:hover {
      color: #d3ab0a;
    }
  }
}
ul{
  list-style-type: none;
  li{
    background: grey;
    display: inline-block;
    margin: 1% 0 0 12%;
    border-radius: 10px;
  img{
    height: 160px;
    width: 100%;
    margin: 3% 0 0 0;
    border-radius: 10px;
  }
  }
}
form {
  input {
    @extend li;
    width: 80%;
  }
}

.listingInfo {
  height: 20px;
}

#lost{
  height: 500px;
}
#error{
  margin: 0 0 0 39%;
}
.bottom {
  margin-top: 150px;
  background: grey;
  a{
    margin: 0 0 0 20%;
  }
}
.fa-times{
  color: red;
}
.fa-pencil{
  color: blue;
}

.addNew {
  background: green;
}
.client {
  border: 1px solid blue;
  img{
    height: 350px;
  }
}

@-webkit-keyframes gallery {
  0% {background-image: url('assets/happy.jpg');}
  10% {background-image: url('assets/timid.jpg');}
  20% {background-image: url('assets/saddog.jpg');}
  30% {background-image: url('assets/frenchie.jpg');}
  40% {background-image: url('assets/curious.jpg');}
  50% {background-image: url('assets/fluffy.jpeg');}
  60% {background-image: url('assets/happypittie.jpg');}
  70% {background-image: url('assets/smile.jpg');}
  80% {background-image: url('assets/kingcharles.jpg');}
  90% {background-image: url('assets/lab.jpg');}
  100% {background-image: url('assets/pug.jpg');}
}
