
<ul class="col-md-12">
  <li ng-repeat="product in mainCtrl.products" class="col-lg-2 col-md-3 col-sm-4">
    <img ng-src="{{product.photo}}">
    <h4>{{product.name}}</h4>
    <h4>{{product.category}}</h4>
    <h4>{{product.price | currency }}</h4>
    <button><a href="#/edit/{{product._id}}"><i class="fa fa-pencil"></i>Edit</a></button>
    <button ng-click="mainCtrl.deleteProduct(product._id)"><i class="fa fa-times"></i>Delete</button>

</li>
<li class="col-lg-2 col-md-3 col-sm-5 addNew">
<button ng-click="new =!new"><i class="fa fa-plus"></i>Add New</button>
<form ng-show="new" ng-submit="mainCtrl.addProduct(newProduct)">
  <input type="url" ng-model="newProduct.photo" placeholder="Photo url">
  <input type="text" ng-model="newProduct.name" placeholder="Item Name">
  <select class="form-control" ng-model="newProduct.category">
    <option>Amuse</option>
    <option>Feast</option>
    <option>Bling</option>
    <option>Fashion</option>
    <option>Accoutrements</option>
  </select>
  <input type="number" ng-model="newProduct.price"placeholder="Price">
  <textarea ng-model="newProduct.description" name="" id="" cols="25" rows="10"></textarea>
<button type="submit">Add to Store</button>
</form>
</li>
<!-- <form ng-submit="mainCtrl.addProduct(newProduct)">
<input type="url" ng-model="newProduct.photo" placeholder="Photo url">
<input type="text" ng-model="newProduct.name"placeholder="Item Name">
<input type="text" ng-model="newProduct.category"placeholder="Item Category">
<input type="text" ng-model="newProduct.price"placeholder="Price">
<button type="submit">Add Item</button>
</form> -->
</ul>
