
<form ng-submit="mainCtrl.editItem(mainCtrl.singleItem)">
  <input type="url"  ng-model="mainCtrl.singleItem.photo">
  <input type="text" ng-model="mainCtrl.singleItem.name">
  <select class="form-control" ng-model="mainCtrl.singleItem.category">
    <option>Amuse</option>
    <option>Feast</option>
    <option>Bling</option>
    <option>Fashion</option>
    <option>Accoutrements</option>
  </select>
  <input type="number" ng-model="mainCtrl.singleItem.price">
  <button ng-click="">Submit</button>
</form>

<!-- all of this is still within the same function, so there is no need to re-render like in other techniques. -->
