
<div class="photoscroll col-md-6">

</div>
<div class="redirect">
<h3><a href="#/shop"><i class="fa fa-paw"></i>SHOP</a></h3>
<h3><a href="#/admin"><i class="fa fa-paw"></i>ADMIN</a></h3>
<h3><i class="fa fa-paw"></i>CUSTOMERS</h3>
<h3><i class="fa fa-paw"></i>FAQ</h3>
</div>



<!-- <ul class="col-md-12">
  <li ng-repeat="product in mainCtrl.products" class="col-md-3">
    <p>{{product.name}}</p>
    <p>{{product.category}}</p>
    <p>{{product.price}}</p>
  </li>
</ul>
<form ng-submit="mainCtrl.addProduct(newItem)">
  <input type="text" ng-model="newProduct.name" placeholder="Name">
  <input type="text" ng-model="newProduct.category" placeholder="Category">
  <input type="text" ng-model="newProduct.price" placeholder="Price">
<input type="text" ng-model="newProduct.photo" placeholder="Image">
  <button type="submit">Add Item</button>
</form> -->
