<nav class="redirect col-md-12">
<h3><a href="#/"><i class="fa fa-home"></i>   Home</a></h3>
<h3><a href="#/cart"><i class="fa fa-shopping-cart"></i>   YOUR CART</a></h3>
<h3><a href="#/admin"><i class="fa fa-unlock"></i>  ADMIN</a></h3>
</nav>

<ul class="col-md-11" ng-controller="CartController as cart">
  <li ng-repeat="product in mainCtrl.products" class="col-md-2">
    <img ng-src="{{product.photo}}">
    <p class="listingInfo"><h4>{{product.name}}</h4></p>
    <p class="listingInfo"><h4>{{product.category}}</h4></p>
    <p class="listingInfo"><h4>{{product.price | currency}}</h4></p>
    <button><a href="#/detail/{{product._id}}"><i class="fa fa-chevron-right"></i>DETAILS</button>
    <button><a href="#/cart" ng-click="cart.addPurchase(product)"><i class="fa fa-shopping-cart"></i>  ADD TO CART</a></button>
  </li>
</ul>


<!-- <form ng-submit="mainCtrl.addProduct(newItem)">
  <input type="text" ng-model="newProduct.name" placeholder="Name">
  <input type="text" ng-model="newProduct.category" placeholder="Category">
  <input type="text" ng-model="newProduct.price" placeholder="Price">
<input type="text" ng-model="newProduct.photo" placeholder="Image">
  <button type="submit">Add Item</button>
</form>
 -->
