body {
  background: white;
}
header {
  background: white;
}
aside {
  height: 300px;
  position: absolute;
  margin: 1% 0 0 70%;
  h3 {
    display: block;
  }
}
.redirect {
  background: grey;
  color: black;
  a {
    color: black;
    &:hover{
      color: red;
    }
  }
}

li{
  border: 1px solid black;
}
